version: '3.4'

services:
  # reverse proxy
  reverse-proxy:
    image: traefik:v2.5
    command: --api.insecure=true --providers.docker
    ports:
      - '80:80'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
  whoami:
    image: traefik/whoami
    scale: 2
    labels:
      - 'traefik.http.routers.whoami.rule=Host(`whoami.localhost`)'
    restart: always
